body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: #0A0908;
}

hr {
    width: 500px;
    background-color: white;
}
.nav-link {
    position: relative;
}
.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}
#streak-button {
    outline: none;
    box-shadow: none;
}
#shuffle-button {
    outline: none;
    box-shadow: none;
}
#tries-button {
    outline: none;
    box-shadow: none;
}
.navbar {
    border-bottom: 1px solid #292929;
    padding-bottom: 20px;
}
.nav-link:hover::after {
    opacity: 1;
}

.game {
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
p {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    font-size: large;
    font-weight: bold;
    background-color: #EDEDF4;
    color: #0A0908;
    margin: 4px;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(28) {
    width: 71px;
}
.key-container button:nth-child(20) {
    margin-left: 80px;
}

#title {
    font-size: 36px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
.modal {
    padding: 1 em;
    max-width: 50ch;

    & > * {
        margin: 0 0 0.5rem 0;
    }
}
.tile-box {
    /* Box Properties */
    border: 2px solid #C0C0C0;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text Properties */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-correct {
    background-color: #5DF88E;
    color: #0A0908;
}

.partially-correct {
    background-color: #FF6201;
    color: #0A0908;
}

.incorrect {
    background-color: #EDEDF4;
    color: #0A0908;
}

.animate {
    animation: tileAnimation 600ms ease forwards;
}

@keyframes tileAnimation {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

